.home-image.admin-home-image {
  background-image: url(../img/Food-Processing-Unit\ 1.jpg);
}

.navbar.admin-navbar {
  padding: 3.24vh 7.916vw 4.167vh 6.6vw;
}

.admin .home-info {
  padding: 9vh 11vw;
}

.admin .home-info-text{

}

#adminLoginForm input[type="text"],
#adminLoginForm input[type="password"],
#adminLoginForm input[type="tel"] {
  max-width: unset;
}

#adminLoginForm input::placeholder {
  font-family: var(--heading-font-family);
  font-style: italic;
  font-weight: normal;
  font-size: var(--body-text);
  line-height: 1.23;
  color: #6d6e71;
}

#adminLoginForm .form-group {
  margin-bottom: 1vh;
}

#adminLoginForm input[type="submit"] {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-size: var(--body-text);
  line-height: 1.23;
  color: #ffffff;
  background: #007e3b;
  border: none;
  padding: 2.5vh 6.72vw;
  text-transform: uppercase;
  width: 100%;
  margin-top: 2.31vh;
  margin-bottom: 2.31vh;
}

.password-reset {
  font-family: var(--heading-font-family);
  font-size: var(--body-text);
  text-decoration-line: underline;
  color: #8c8c8c;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.admin .maps-content{
  padding: 9.259vh 15vw 0 15vw;
}

.admin-maps-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.518vh;
  margin-right: -3vw;
}

.admin-maps-welcome {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: var(--h1-font-size);
  line-height: 1.219;
}

.create-user-link {
  background-image: url(../img/svg/user-login.svg);
  background-size: cover;
  width: 6.041vw;
  min-width: 48px;
  height: 6.041vw;
  min-height: 48px;
}

#createUserForm input[type="submit"] {
  font-weight: bold;
  font-size: var(--big-text);
  padding: 1.85vh 6.72vw;
  float: right;
  margin-bottom: 2vh;
  border-radius: 0.7vw;
}

.create-user-content {
  padding: 8vh 13vw;
}

.admin-filter {
  padding: 0 1.51vw 3vh 2.34vw;
  margin-top: 3vh;
}

.filter-title {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 0.9375vw;
  line-height: 1.2;
  letter-spacing: 0.2px;
  color: #6d6e71;
  margin-bottom: 1.203vh;
  margin-left: 0.8333vw;
}

.filter-btn {
  color: #ffffff;
  width: 100%;
  background: #007e3b;
  border-radius: 10px;
}

.filter-btn,
.reset-btn {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 0.9375vw;
  line-height: 1.2;
  letter-spacing: 0.2px;
  padding: 1.2vh;
}

.reset-btn {
  margin: 0.9vh auto;
  margin-left: auto;
  color: #dedede;
  text-transform: capitalize;
  background-color: transparent;
  text-align: center;
  display: block;
}

.check-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #9c9c9c;
  border-radius: 14px;
  padding: 0.677vw;
  margin-bottom: 2.5vh;
}
.control {
  font-family: var(--body-font-family);
  display: block;
  position: relative;
  padding-left: 1.2vw;
  margin-bottom: 0.5vh;
  cursor: pointer;
  font-size: 0.73vw;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: #b5b5b5;
  width: 100%;
  text-transform: capitalize;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 0.77vw;
  width: 0.77vw;
  background: transparent;
  border: 1px solid #c4c4c4;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border: 0.14vw solid #777;
  transition: all 1s;
}
.control input:checked ~ .control__indicator {
  background: #019747;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #007e3b;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 25%;
  top: 10%;
  width: 0.3vw;
  height: 0.75vh;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

#createUserForm .control {
  font-family: var(--heading-font-family);
  padding-left: max(3.2vw, 40px);
  margin-bottom: 0.5vh;
  font-size: var(--big-text);
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #000000;
}

#createUserForm .control__indicator {
  top: -0.4vw;
  left: 0;
  width: 2.5vw;
  min-width: 30px;
  height: 2.5vw;
  min-height: 30px;
  border: 3px solid #c4c4c4;
  border-radius: 10px;
}

#createUserForm .control--checkbox .control__indicator:after {
  left: 36%;
    top: 15%;
    width: 0.6vw;
    height: 2.2vh;
  border: solid #fff;
  border-width: 0 0.26vw 0.26vw 0;
  transform: rotate(45deg);
}

#createUserForm .control:hover input ~ .control__indicator,
#createUserForm .control input:focus ~ .control__indicator {
  border: 0.25vw solid #777;
  transition: all 1s;
}

.privacy-check{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.privacy-link {
  font-family: var(--heading-font-family);
  font-size:var(--body-text);
  line-height: 1.22;
  text-decoration: underline;
  color: #8C8C8C;
  margin: 1.2vh 6.25vw; 
}


.modal{
  z-index:10000;
}

.modal-content {
  font-family: var(--body-font-family);
  text-align: center;
}

.modal-title{
font-size: var(--h3-font-size);
margin-top: 4vh;
}

.modal-text{
  margin: 3vh 0 0vh;
}

.modal-footer{
  border: none;
}

#requestModal .modal-content {
  background: rgba(0, 0, 0, 0.91);
  border-radius: 19px;
  color: white;
  font-family: var(--body-font-family);
  width: 58vw;
  padding: 4vh 4.2vw;
  margin: auto;
  text-align: left;
}
#requestModal .modal-dialog{
  width:unset;
}

#requestModal .close{
  position: absolute;
  top: 3.7vh;
  right: 2.5vw;
  opacity: 1;
  color: #7D7D7D;
}

.modal-header button span:first-child {
  border-radius: 50%;
  border: 3.3px solid ;
  width: 40px;
  height: 40px;
  display: inline-table;
  color: inherit;
  font-size: 40px;
  text-shadow: none;
}


.request-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4vh;
}

.company-info > h2,
.request-info> h2{
  margin-top: 1vh;
  font-size: 1.875vw;
  font-weight: 400;
}

.request-title{
  font-weight: bold;
font-size: 2.5vw;
margin-bottom: 1vh;
}

.request-article{
  font-weight: 400;
font-size: 0.9375vw;
text-align: justify;
}

.request-question{
  font-size: 1.25vw;
  text-align: right;
}

.action-btn{
  font-weight: bold;
font-size: 0.9375vw;
text-align: center;
padding: 1.67vh 5.2vw;
margin-left: 1.5vw;
}

.action-btn:first-of-type{
  background-color: #20AAB3;
}

.action-btn:last-of-type{
  background-color: #B32037;  
}

@media (max-width: 767.98px) {   

  .admin .home-info{
    top:80px;
    padding: 6vh 8vw;
  }

 .admin.login .home-info {
  padding: 3.5vh 8vw 0;
  }
  
  .home-image.admin-home-image {
    background: linear-gradient(rgba(24, 24, 24, 0.6), rgba(24, 24, 24, 0.6)) ,  url(../img/Food-Processing-Unit\ 1.jpg) center center;
  }

 .admin.login .home-info-title,
.admin.login .home-info-text{
  margin-bottom: 1vh;
}

#adminLoginForm input[type="text"],
#adminLoginForm input[type="password"],
#adminLoginForm input[type="tel"] {
background-color: transparent;
color: #FFFFFF;
}

#adminLoginForm input::placeholder {
  color: #FFFFFF;
}

.password-reset{
  color: #FFFFFF;
}


.create-user-content {
  padding: 5vh 8vw;
}


#createUserForm .control {
  font-size: var(--body-text);
}

.admin .maps-content{
  padding: 5vh 8vw;
}

.admin-maps-welcome { 
  font-size: var(--h2-font-size);
}

.admin-maps-intro { 
  margin-bottom: 4vh;
}

}