.home-image.admin-home-image{
    background-image: url(../img/Food-Processing-Unit\ 1.jpg);
}

.navbar.admin-navbar{
    padding: 3.24vh 7.916vw 4.167vh 6.6vw;
}

#adminLoginForm input:not([type="submit"]){
    max-width: unset;
}

#adminLoginForm input:not([type="submit"])::placeholder{
font-family: 'Century Gothic Italic', Arial, Helvetica, sans-serif;
font-style: italic;
font-weight: normal;
font-size: 0.9375vw;
line-height: 1.23;
color: #6D6E71;
}

#adminLoginForm .form-group{
margin-bottom:1vh ;
}

    
#adminLoginForm input[type="submit"] {
    font-family: var(--heading-font-family);
    font-style: normal;
    font-size: 0.9375vw;
    line-height: 1.23;
    color: #ffffff;
    background: #007e3b;
    border: none;
    padding: 2.5vh 6.72vw;
    text-transform: uppercase; 
    width: 100%;     
    margin-top: 2.31vh;
  }


.maps-main.admin-maps-main{
    padding: 9.259vh 15vw 0 15vw;
}

.admin-maps-intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:8.518vh ;
}

.admin-maps-welcome{
    font-family: var(--heading-font-family);
font-weight: bold;
font-size:3.333vw;
line-height: 1.219;
}

.create-user-link{
    background-image: url(../img/svg/user-login.svg);
    background-size: cover;
    width: 6.041vw;
    height: 6.041vw;
}