@import url("./style.css");

.assistance-content {
  padding: 12vh 13vw;
}

.assistance-title {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size:var(--h1-font-size);
  line-height: 1.22;
  width: 47%;
  margin-bottom: 3.8vh;
}

.assistance-small-title {
  margin-bottom: 7.4vh;
  font-family: var(--body-font-family);
  font-size: var(--big-text);
}

.assistance-light-title {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: var(--h2-font-size);
  line-height: 1.23;
  margin: 6.85vh 0 4.35vh 0;
}


#assistanceForm input[type="submit"] {
  font-weight: bold;
  font-size: var(--big-text);
  padding: 1.85vh 6.72vw; 
  float: right;
  margin-top: 4vh;
  margin-bottom: 4vh;
  border-radius: 12px;
}

.modal-header .close{
  display: none;
}


.modal-content {
  background: rgba(0, 0, 0, 0.76);
  border-radius: 19px;
  color: white;
  font-family: var(--heading-font-family);
  width: 30vw;
  padding: 8vh 4.2vw;
  text-align: center;
}

.modal-title{
font-weight: bold;
font-size: var(--h2-font-size);
line-height:1.23;
}

.modal-text{
  font-size: var(--big-text);
line-height: 1.2;
margin: 5vh 0 4vh;
}


.control {
  font-family: var(--body-font-family);
  display: block;
  position: relative;
  padding-left: 1.2vw;
  margin-bottom: 0.5vh;
  cursor: pointer;
  font-size: 0.73vw;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: #b5b5b5;
  width: 100%;
  text-transform: capitalize;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 0.77vw;
  width: 0.77vw;
  background: transparent;
  border: 1px solid #c4c4c4;
}

#assistanceForm .control:hover input ~ .control__indicator,
#assistanceForm .control input:focus ~ .control__indicator {
  border: 0.25vw solid #777;
  transition: all 1s;
}
.control input:checked ~ .control__indicator {
  background: #019747;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #007e3b;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 30%;
  top: 0%;
  width: 0.16vw;
  height: 0.74vh;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

#assistanceForm .control {
  font-family: var(--heading-font-family);
  padding-left: max(3.2vw, 45px);
  margin-bottom: 0.5vh;
  font-size: var(--big-text);
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #000000;
}

#assistanceForm .control__indicator {
  top: -0.4vw;
  left: 0;
  width: 2.5vw;
  min-width: 30px;
  height: 2.5vw;
  min-height: 30px;
  border: 3px solid #c4c4c4;
  border-radius: 10px;
}

#assistanceForm .control--checkbox .control__indicator:after {
  left: 33%;
  top: 10%;
  width: 0.6vw;
  height: 2vh;
  border: solid #fff;
  border-width: 0 0.26vw 0.26vw 0;
  transform: rotate(45deg);
}

.privacy-check{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.privacy-link {
  font-family: var(--heading-font-family);
  font-size: var(--body-text);
  line-height: 1.22;
  text-decoration: underline;
  color: #8C8C8C;
  margin: 1.2vh 6.25vw; 
}



/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {   
  .assistance-content{
    padding: 8vh 9.5vw;
  }

  .assistance-title{
    width: 100%;
    text-align: right;
  }

  #assistanceForm .control {
    font-size: var(--body-text);
}

.privacy-link{
  padding-left: max(3.2vw, 45px);
}

.modal-title{
  font-size: var(--h3-font-size);
  }
.modal-content{
  width: min(90vw, 373px);
}

.modal-text{
  font-size: var(--bold-text);
}
}
