@import url("./style.css");

html {
    --scrollbarBG: rgba(0, 0, 0, 0.76);
    --thumbBG: #4E4E4E;
  }
  

.data-main {
  height: 87vh;
  display: flex;
  flex-direction: row;
}

.side-nav {
  min-width: 14.79vw;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.admin.side-nav{
    justify-content: flex-end;
}

.side-nav .nav-item{
    padding: 0;
}

.side-nav .nav-item a {
  font-family: var(--heading-font-family);
  font-weight: bold;
  background-color: var(--primary-color);
  text-align: center;
  color: #FFFFFF;
  border: 3px solid #147F3D;
  padding: 0.75vh;
  margin: 1.1vh 0;
  font-size: 0.807vw;
}

.side-nav ul {
    padding : 0 3.46vw;
    margin: 0;
}


.side-nav .nav-item a.active,
.side-nav .nav-item a:active,
.side-nav .nav-item a:hover{
    background-color: #FFFFFF;
    color:var(--primary-color); ;
}

#container {
    max-height: 92%;
    min-width: 85vw;
    margin: 0 auto;
    position: relative;
     top: 1.2vh;

}

.highcharts-container{
    top: 1.85vh;
    left: 2px;
}

.highcharts-button.highcharts-contextbutton{
    display: none;
}

.highcharts-point:not([fill="#F1F2F2"]){
    stroke: #020202;
    stroke-width: 0.04375vw;
    cursor: pointer;
}
/*
.highcharts-point[fill="#007E3B"]:hover{
   fill: #CAD023;
   transition: all 0.2s ease-in;
}


.highcharts-point:not([fill="#007E3B"]){
    stroke: #6D6E71;
    stroke-width: 0.04375vw;
    fill:#F1F2F2;
} */

.country-title {
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    font-size: 2.18vw;
    text-align: right;
    margin: 0 0 2.5vh;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.tippy-box {
    background: rgba(0, 0, 0, 0.66);
    border-radius: 20px;  
}
.tippy-content{
    padding: 4vh 1.56vw 1.5vh;
    background: rgba(0, 0, 0, 0.66);
    border-radius: 20px;
}
.popover-content{
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.pop-scrollable{
    padding: 0px 22px;
    max-height: 41.6vh;
    overflow-y: auto;
}

.admin.pop-scrollable{
    padding: 0vh 6px;
    margin: auto -0.5vw;
}
.pop-scrollable::-webkit-scrollbar {
    width: 12px;
  }
  .pop-scrollable {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .pop-scrollable::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-radius: 10px;
  }
  .pop-scrollable::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 10px;
    height: 76px; 
  }


.pop-btn {
    font-family: var(--heading-font-family);
    background-color: #007e3b;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9375vw;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom:2.77vh;
    padding: 1.3vh;
    text-align: center;
}

.pop-btn:focus{
    outline: none;
}

input.pop-search {
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 1.1vh 1.2vw;
    background-color: transparent;
    height: unset;
    max-width: unset;
    width: 100%;
    margin: auto auto 2.407vh;
    background-image: url(../img/svg/searchIcon.svg);
    background-repeat: no-repeat;
    background-position: 93% 45%;
    background-size: 7%;
    font: 400 0.9375vw var(--heading-font-family);
}

input.pop-search:focus{
    transition: all 0.2s linear;
    background-color: white;
    background-image: none;
}

.pop-img{
    width: 100%;
}

.pop-svg{
    max-width: 4.22vw;
}
.pop-box:first-of-type{
    margin-top: 7vh;
}

.pop-box{
    font-family: var(--body-font-family);
    font-size: 0.9375vw;
    line-height: 1.167;    
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    margin: 0 10px;
    padding: 1.8vh 0.4vw 1vw  ;
}
.pop-box p{
    text-align: right;
}

.pop-box p:last-of-type{
    font-style: italic;
    margin-top: 1vh;
}


.pop-info{
    display: flex;
    align-items: end;
    padding: 2vh 1.14vw 2vh 0.57vw;
    font-family: var(--body-font-family);
    line-height: 1.2;
}

.pop-info:first-of-type{
    border-radius: 10px 10px 0px 0px;
}

.pop-info:nth-of-type(2n+1) {
    background-color: #4E4E4E;
}

.pop-info>div{
    margin-left: 1.19vw ;
}

.pop-info-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;   
    font-weight: bold;  
    margin-bottom: 0.5vh;
}

.pop-info-title span:first-of-type{
font-size: 1.15vw;
}

.pop-info-title span:last-of-type{
font-size: 0.807vw;
min-width: 5.78vw;
text-align: right;
}

.pop-info-title[data-status="1"] span:last-of-type{
    color: #F48220;
}

.pop-info-title[data-status="2"] span:last-of-type{
    color: #20B6D8;
}

.pop-info-title[data-status="3"] span:last-of-type{
    color: #CAD023;
}

.pop-summary{
font-size: 0.73vw;
line-height: 1.15;
}
.pop-summary-location{
margin-top: 0.8vh;
font-style: italic;
font-weight: bold;
font-size: 0.9375vw;
text-align: right;
}

.pop-info-btn{
    background-color: #20AAB3;
border-radius: 7px;
text-align: center;
text-transform: capitalize;
padding: 0.67vh;
width: 100%;
margin-top:1.5vh ;
}

.pop-info-btn::before{
    content: 'Mark as complete';
    font-size: 0.807vw;
    font-weight: 500;
    font-family: var(--body-font-family);
    color: #FFFFFF;
}

.pop-info-title[data-status="2"] ~ .pop-info-btn{
    display: none;
}

.pop-info-title[data-status="3"] ~ .pop-info-btn{
    background-color: #127F3C;
}
.pop-info-title[data-status="3"] ~ .pop-info-btn::before{
    content: 'Takeover Request';
}


.pop-article{
font-family: 'Roboto', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

}

.pop-footer{
    font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #B8B8B8;
padding-top: 16px;
text-align: center;
}



.tippy-box>.tippy-arrow::before {
    /* transform: scale(3.5); */
}

.tippy-box[data-placement^=left]>.tippy-svg-arrow:after,  
.tippy-box[data-placement^=left]>.tippy-svg-arrow>svg{
    transform: rotate(0deg) ;
}

.tippy-box[data-placement^=right]>.tippy-svg-arrow:after, 
.tippy-box[data-placement^=right]>.tippy-svg-arrow>svg {
    transform: rotate(-180deg);
}

.tippy-box[data-placement^=top]>.tippy-svg-arrow:after, .tippy-box[data-placement^=top]>.tippy-svg-arrow>svg {
    top: 10px;
    transform: rotate(90deg);
}

.tippy-box[data-placement^=bottom]>.tippy-svg-arrow>svg {
    transform: rotate(270deg);
    bottom: 10px;
}


