@import url('./style.css');

.maps-main{
   height:100vh;
}

.maps-content{
    padding: 17.5vh 15vw;  
}


.maps-title{
    font-family: var(--heading-font-family);
    font-size: var(--h3-font-size);
    margin-bottom: 2.5vh;
    text-transform: uppercase;
    font-weight: 700;
}

.maps-info-text{
    font-size: var(--body-text);
    line-height: 1.167;
    text-align: justify;
    margin: 0 0 4vh 0;
    }

.map-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    padding-bottom:3vh ;
}

.map-link {
    background-color: var(--primary-color);
   min-width: 20.98vw;
   min-height:min(37.32vh,300px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 5vh 2.5vw;
   border-radius: 13px;
   flex: 1 1 0px;
   border-radius: 12px;
}

.map-link:hover{
    text-decoration: none;
}

.map-link:nth-of-type(2){
    margin: 0 3.48vw;
}

.map-image{
    width: 80%;
    height: 80%;
}

.map-name{
    font-family: var(--heading-font-family);
    color: #FFFFFF;
    border-radius: 13px;
    font-size: var(--h3-font-size);
    max-width: 135px; 
}


@media (max-width: 767.98px) {  
    .maps-content{
        padding: 5vh 7vw;  
    }

    .maps-title{
        font-size: var(--h2-font-size);
        font-weight: 700;
        text-transform: capitalize;
        text-align: right;
        padding-left: 13vw;
        margin-bottom: 6vh;
    }

    .map-links{
        flex-direction: column;
    }
    .map-link{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-width: 100%;
        min-height: 35vw;
    }
    .map-link:nth-of-type(2){
        margin: 4vh 0;
    }

    .map-name{
        max-width: 135px; 
    }

    .map-image{
        width: 35%;
        height: 80%;
    }
}
