@import url("./style.css");

.privacy-main {
  padding: 12vh 12.76vw 12vh;
}

.privacy-title {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 2.969vw;
  line-height: 1.22;
  margin-bottom: 8vh;
}

.privacy-article {
  font-family: var(--body-font-family);
  font-size: 1.25vw;
  line-height: 1.167;
  text-align: justify;
  color: #767676;
}

.privacy-article h6{
    font-size: inherit;
    margin: 3vh 0 2vh;
    font-weight: 700;
}

.privacy-article p{
  margin: 1vh 0 1vh;
}

.privacy-article ul{
  margin-left: 2.5vw;
  list-style: disc;
}

.privacy-article ul > li{
  margin-bottom: 1vh;
}

.privacy-footer{
  background-color: #E6E6E6;
  padding: 8.24vh 14.1vw 14.81vh ;
  display: flex;
  justify-content: space-between;
}



.privacy-footer>div{
  flex: 1 1 0px;
  text-align: center;
}

.privacy-footer h6{
  font-family: var(--body-font-family);
  font-size: 1.25vw;
  line-height: 1.167;
  color: #7D7D7D;
  margin-bottom: 2.6vh;
}

