@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "Century Gothic";
  /*a name to be used later*/
  src: url("../fonts/Century\ Gothic/GOTHIC.TTF");
  /*URL to font*/
  font-weight: normal;
  font-display: "swap";
}

@font-face {
  font-family: "Century Gothic";
  /*a name to be used later*/
  src: url("../fonts/Century\ Gothic/gothicb.ttf");
  /*URL to font*/
  font-weight: bold;
  font-display: "swap";
}

@font-face {
  font-family: "Century Gothic Italic";
  /*a name to be used later*/
  src: url("../fonts/Century\ Gothic/gothici.ttf");
  /*URL to font*/
  font-weight: bold;
  font-style: italic;
  font-display: "swap";
}

:root {
  --dark-color: #000000;
  --primary-color: #007e3b;
  --secondary-color: #ecc30b;


  --heading-font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  --body-font-family: "Roboto", Helvetica, Arial, sans-serif;

  --h1-font-size: min(max(56px, 6.6667vw), 96px);
  --h2-font-size: min(max(48px, 6.25vw), 90px);
}

* {
    box-sizing: border-box;
}

html,body {
margin: 0;
  color: var(--dark-color);
  padding: 0;
}

body{
    padding-top: 13vh ;
}

.li {
}

button{
  border: none;
  cursor: pointer;
}

button:focus{
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
  padding: 0;
    list-style: none;
}

.navbar {
    background-color: white ;
position: fixed;
top:0;
width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.24vh 4.79vw 4.167vh 6.6vw;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.13);
  font-family: var(--heading-font-family);
}

.navbar-brand {
  width: 17.24vw;
}

.navbar-logo {
  width: 100%;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.833vw;
}

.nav-item {
  padding: 0 1.875vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  line-height: 1.1875;
  letter-spacing: 0em;
  text-align: left;
}

.dropbtn {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

.navbar-dropdown {
    position: relative;
}
  
.dropdown-menu {
    background: #C7C7C7;
      padding: 0.5em 0;
      min-width: 15ch;
      position: absolute;
      top: calc(100% - 0.25rem);
      left: 50%;
      transform: translateX(-50%);
      transform: rotateX(-90deg) translateX(-50%);
      transform-origin: top center;
      opacity: 0.3;
      transition: 280ms all ease-out;
    }
  
    .dropdown-menu.show {
        opacity: 1;
        transform: rotateX(0) translateX(-50%);
        visibility: visible;
      } 

      .dropdown-menu a {
        display: block;
        padding: 0.5em;
      }



      .form-row {
        display: flex;
      }
      
      label {
        font-family: var(--heading-font-family);
        font-size: 1.25vw;
        line-height: 1.16;
        text-transform: uppercase;
        display: block;
      }
      
      .form-group {
        flex: 1 1 0px;
        margin-bottom: 4.722vh;
      }
      
      .form-row > .form-group:first-of-type {
        margin-right: 1.77vw;
      }
      .form-row > .form-group:last-of-type {
        margin-left: 1.77vw;
      }
      
      input[type=text][type=password][type=tel],
      textarea,
      select {
        margin-top: 2.31vh;
        width: 100%;
        height: 7.5vh;
        border: 2px solid #c4c4c4;
        border-radius: 13px;
        font: 400 1.25vw var(--heading-font-family);
        padding: 1.67vh 1.875vw;
        max-width: 32.86vw;
      }

      input:focus,
      select:focus,
      textarea:focus{
        outline: none;
      }

      select{
        appearance: none;
        background-image: url(../img/svg/select-arrow.svg); 
        background-position: 95% 55%;
        background-repeat: no-repeat ;
        background-size: 5%;
      }


      option{
          background-color:#F4F4F4;
      }      
        

      textarea {
        height: unset;
        max-width: unset;
      }
      
      input[type="submit"] {
        font-family: var(--heading-font-family);
        line-height: 1.23;
        color: #ffffff;
        background: #007e3b;
        border: none;
        text-transform: uppercase;      
      }
      
      

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  /* IE 6 and 7 */
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
  }


 .modal-header{
   border: none;
 } 

 .modal-dialog{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}




        